<%- include('partials/header') %>

<div class="about">
    <h1>
        About
    </h1>
    <p>
        Pickstack has been developed to learn and showcase some simple features!
        Get registered today and upload your fav pics to keep a record.    
    </p>
    
</div>


<%- include('partials/footer') %>