<%- include('partials/dbheader') %>
<body class="dashboard" style="background-image: url(camera.jpg)"></body>
<!-- \Photo by Alexander Andrews on Unsplash -->
<h1 class="heading"> Hello <%= userObj.username %></h1>


<p>

Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis vulputate, justo ac rutrum tempus, enim lectus faucibus odio, a ultricies arcu felis vitae enim. Phasellus at pharetra libero, at tempus odio. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Nam eget mauris porta, pulvinar tortor id, dignissim odio. Nulla nec eros et augue elementum luctus. Etiam lacinia aliquam libero ut auctor. Vestibulum volutpat auctor fringilla.

Suspendisse ac est consequat, fermentum lorem ac, consequat tortor. Morbi ante nibh, ultricies vel bibendum vel, laoreet eget arcu. Sed quis lorem eleifend, ultrices odio nec, aliquet tellus. Aliquam erat volutpat. Aliquam erat volutpat. Donec sed semper tellus, a consectetur sapien. Pellentesque quis est eu tortor egestas pellentesque scelerisque non nulla.

Proin ultricies tincidunt ligula, et pulvinar erat efficitur ac. Ut commodo leo vel enim eleifend malesuada. Praesent sed elit mattis sem sodales imperdiet et sed dui. Cras sed lobortis turpis, vitae semper magna. Etiam auctor facilisis nisl in sollicitudin. Etiam at scelerisque purus. Sed erat lacus, tristique ac neque non, lacinia viverra nunc. Sed id metus quis justo suscipit tempus. Curabitur vitae risus sit amet turpis tincidunt aliquam vitae eu enim. Phasellus porta malesuada faucibus. Quisque porta sapien a ante aliquam, et fringilla sem ultricies. Duis consequat tortor sed libero cursus, eget bibendum leo pretium. Nam iaculis eros in leo convallis tempor. In pharetra risus metus, at molestie diam tempor vulputate. Ut a ornare sapien, ut ullamcorper ipsum. Nunc vitae scelerisque odio.

Donec ex enim, feugiat a turpis sollicitudin, scelerisque maximus nisl. Nam purus nisl, suscipit ut eros eu, commodo tincidunt metus. Curabitur elementum consectetur elit ullamcorper eleifend. Nunc non eros elit. Phasellus egestas lacus sit amet luctus suscipit. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Fusce a accumsan nulla. Sed rutrum dictum mi vel viverra. Etiam in eros viverra, consequat lacus at, blandit sapien. Praesent interdum, eros nec varius aliquam, dui odio vulputate orci, id lobortis risus nunc vel dui. Nullam congue enim ut quam varius, at suscipit ligula tempus. Cras sed diam ac nibh feugiat blandit a non lacus. Sed in fermentum dolor. Aliquam erat volutpat. Curabitur quis tempus sapien.

Sed mattis lobortis mauris, quis consequat risus tempor eu. Mauris venenatis eu orci sed fermentum. Donec commodo nisl quam, vel efficitur purus sodales ut. Quisque fermentum id ante at feugiat. Etiam ac consequat ante, malesuada tincidunt nisl. Phasellus hendrerit imperdiet mauris, at molestie dolor eleifend quis. Proin bibendum urna in ante condimentum hendrerit.

Sed gravida velit vitae commodo condimentum. Curabitur rhoncus lacus sit amet erat facilisis, vel condimentum ex volutpat. Sed luctus commodo suscipit. Integer sit amet lacus risus. Nullam tellus mauris, tincidunt id fringilla finibus, dictum eu risus. In hac habitasse platea dictumst. Aenean eget gravida nisl, sed consequat enim. Nam nec pulvinar ex, eget pulvinar sapien. Sed eget tincidunt lacus, sed tincidunt lorem. Sed velit diam, vehicula non risus id, sodales aliquet tellus. Curabitur viverra et ligula non scelerisque. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Morbi sem nisi, pulvinar sed mollis in, mollis eget orci.
<p>
<%- include('partials/footer') %>
