
html
{
  height:100%;
}
body {
  background-color: #E8ECEF;
}

body.dashboard{

  background-attachment:fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  
}

.dashboard .heading
{
  text-align: center;
  margin : 3rem auto 1.5rem;
}

.centered {
    padding-top: 200px;
    text-align: center;
}

.nav-item
{
  padding: 0 1.4rem 0 1.4rem;
}

.alt
{
  margin: 2rem auto;
}

.alert
{
  display:block;
}

.change{
  margin: 3rem auto;
}