
body {
  background-color: #E8ECEF;
}

.centered {
    padding-top: 200px;
    text-align: center;
}

.secret-text {
  text-align: center;
  font-size: 2rem;
  color: #fff;
  background-color: #000;
}

.nav-item
{
  padding: 0 1rem 0 1rem;
}

.alt
{
  margin: 2rem auto;
}

.alert
{
  display:block;
}